#SlideShow {
    width: 35%;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 4px solid white;
}

.images {
	max-height: 500px;
	max-width: 100%;
	border: 15px ridge goldenrod;
}

#AboutMeTextDiv {
	width: 55%;
	height: 500px;
	border: 4px solid goldenrod;
	margin-right: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	float: right;
}

#AboutMeText {
	margin: 20px;
	color: pink;
}	


@media screen and (min-width: 400px) {
    main {
        flex-direction: column;
    }
	
	#AboutMeText {
		color: lavender;
	}
}